body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* full viewport height */
  margin: 0;
  background-color: black; /* optional */
}

footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: rgb(120, 114, 114);
}


h1 {
    color: grey;
    font-family: verdana;
}

.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    align-items: center;
}